* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 450px;
}

h1 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #d1b8ab;
  color: #ffffff;
}

.info {
  display: flex;
  padding: 20px 50px 30px 50px;
  justify-content: space-between;
}

.stats-info {
  display: flex;
}

.wins,
.losses {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.number {
  font-size: 70px;
  margin-right: 10px;
}

.text {
  text-transform: uppercase;
}
.wins .number {
  color: #6e9d80;
}

.losses .number {
  color: #c5445c;
}

.choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 500px;
  width: 600px;
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 30px;
}

.choice-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 500px;
  width: 600px;
  text-align: center;
}

.choice-panel > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: 5px solid #221e32;
  outline: 0;
  background-color: transparent;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

button.rock {
  background-color: #e7c35c;
}

button.paper {
  background-color: #c5445c;
}

button.scissors {
  background-color: #6e9d80;
}

button.computer-choice {
  background-color: #221e32;
}

button.computer-choice span {
  color: #ffffff;
  font-size: 70px;
}

.vs {
  font-size: 80px;
  transform: rotate(-0.1turn);
  margin: 0;
  pointer-events: none;
  opacity: 0.5;
}

.game-state {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
}

.game-state.win > div {
  background: #6e9d80;
}

.game-state.draw > div {
  background: #e7c35c;
}

.game-state.lose > div {
  background: #c5445c;
}

.game-state > div {
  width: 60%;
  text-align: center;
  padding: 0 40px;
  border-radius: 10px;
  z-index: 1;
  color: #fff;
  font-size: 60px;
}

.game-state-content {
  display: flex;
  justify-content: center;
}

.game-state-content p {
  margin: 40px 15px 30px 0;
  display: flex;
  align-items: center;
}

.game-state-content p:last-of-type {
  margin-left: 50px;
}

.game-state-content svg {
  width: 100px;
}

.game-state button {
  display: block;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  flex-shrink: 1;
  background: #221e32;
  color: #fdedfd;
}
